page-login {
	.back-theme {
		background: linear-gradient( to bottom, #25fdf8, #21e9f8, #1ac6f8, #4c2df5 );
	}

	.scroll-content {
		display: flex !important;
		width: 100%;
		height: 100%;
		align-items: center !important;
		padding: 0px !important;

		.color-white { color: #fff; }

		.back-facebook { background: #3298da; }
		.back-googleplus { background: #e54c3a; }

		ion-list {

			ion-item {
				background: transparent;
				padding: 0px;
				.item-inner { 
					padding: 0px !important;
					border: 0px !important;
					box-shadow: none !important;
				}

				input {
				    background: rgba(0, 0, 0, 0.35);
				    color: #fff !important;
				    width: 100%;
				    height: 50px;
				    border-radius: 30px;
				    margin: 0px !important;
				    padding: 0px 30px !important;
				}

				input::placeholder {
					color: #fff !important;
				}
			}

		}

		.login-btn {
			height: 50px !important;

			span {
				line-height: 50px !important;
				height: 50px !important;
			}
		}

		.social-logins {

			button {
				height: 50px;
				width: 50px;
				border-radius: 50%;
				padding: 0px !important;
			}

		}
	}
}
