<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'BACK_BUTTON_TEXT' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)" >
    <ion-slide *ngFor="let question of questions">
      <h4>{{question.name}}</h4>
      <ion-list radio-group [(ngModel)]="question.option_id" *ngFor="let option of question.option_catalogues">
      	<ion-item >
	    	<ion-label>{{option.option_text}}</ion-label>
	    	<ion-radio  value="{{option.id}}"></ion-radio>
	  	</ion-item>
      </ion-list>
      <button ion-button color="primary" *ngIf="showSkip" outline (click)="slideNext(questions)">Next</button>
      <button ion-button color="primary" *ngIf="!showSkip" outline (click)="Saveanswers(questions)">Submit</button>
    </ion-slide>    
  </ion-slides> 
</ion-content>
