<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <ion-list>
        <ion-item>
          <ion-label>Daenerys Targaryen</ion-label>
          <ion-checkbox color="dark" checked="true"></ion-checkbox>
        </ion-item>

      </ion-list>
    </ion-slide>
    
  </ion-slides>
</ion-content>
